<%- include("partials/header") -%>

<h1>Contact</h1>
<p><%= contact %></p>
<a href="mailto:soniapetreanu#yahoo.com">Send Email</a>
<p><a href="tel:+4769677121">Call Me</a></p>

<%- include("partials/footer") -%>
