<%- include("partials/header") -%>

<link rel="preconnect" href="https://fonts.googleapis.com">
<link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
<link href="https://fonts.googleapis.com/css2?family=Dancing+Script&display=swap" rel="stylesheet">

<h1 class="postTitle"><%=title%></h1>
<p class="post"><%=content%></p>


<%- include("partials/footer") -%>
